body {
    background-color:peru;
}



.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px auto 100px;
    grid-template-areas: 
    "Header"
    "Main"
    "Footer";
}

.introduction {
    width: 80%;
    font-family: 'Alagard', sans-serif;
    background-color: burlywood;
    text-align: justify;
    border: 2px solid black;
    margin: 2px 10% 2px 10%;
}

a {
    font-family: 'Alagard', sans-serif;
    text-decoration: none;
    color: black;
}

.imgIcon {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    border: 2px solid black;
    border-radius: 100px;
    background-color: burlywood;
    padding: 1px 15px 1px 15px;
}


.Header {
    grid-area: Header;
}

.titleStyling {
    text-align: center;
    font-family: 'Alagard', sans-serif;
}

.subtleShadow {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.Main {
    grid-area: Main;
}

.Sidebar {
    grid-area: Sidebar;
}

.Footer {
    grid-area: Footer;
}

@font-face {
    font-family: 'Alagard';
    src: url('../../fonts/Alagard.woff2') format('woff2'),
         url('../../fonts/Alagard.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
