body {
    background-color:peru;
}


.grid-container{
    display: grid;
    grid-template-columns: 15% 50% 35%;
    grid-template-rows: 200px auto 100px;
    grid-template-areas: 
    "Sidebar Header none"
    "Sidebar Main none"
    "Sidebar Footer none";
}



.lineHeader {
    font-family: 'alagard', sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    background-color: burlywood;
    padding: 10px;
    margin: 2px 10% 2px 10%;
    box-shadow: 0px 0px 5px rgb(180, 108, 38);
} 

.CenteredBox {
    width: 80%;
    font-family: Georgia, serif;
    background-color: burlywood;
    border-radius: 5px;
    text-align: justify;
    border: 1px solid black;
    margin: 2px 10% 2px 10%;
    padding: 10px;
    box-shadow: 0px 0px 5px rgb(180, 108, 38);
}

.footerText {
    text-align: center;
}

a {
    font-family: 'Alagard', sans-serif;
    text-decoration: none;
    color: black;
}

.imgIcon {
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
}

.navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: burlywood;
    padding: 0;
    height: 100%;
    width: 50%;
}



.Header {
    grid-area: Header;
}

.titleStyling {
    text-align: center;
    font-family: 'Alagard', sans-serif;
}



.Main {
    grid-area: Main;
    text-align: center;
}

.Sidebar {
    grid-area: Sidebar;
}

.Footer {
    grid-area: Footer;
}

@media screen and (max-width: 480px) {

    .navigation {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:space-evenly;
        align-items: center;
        border: 2px solid black;
        border-radius: 10px;
        background-color: burlywood;
        padding: 0;
        height: 100%;
        width: 50%;
        font-size: small;
    }
    
    .footerText {
        text-align: center;
        font-size: small;
    }

    .imgIcon {
        height: 20px;
        width: 20px;
        margin: 0px;
        padding: 0px;
    }
}

@font-face {
    font-family: 'Alagard';
    src: url('../../fonts/Alagard.woff2') format('woff2'),
         url('../../fonts/Alagard.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
